{% extends "layout.html" %}

{% block title %}
    Join Group
{% endblock %}

{% block main %}
    <!-- Form for joining a group -->
    <form action="/join-group" method="post" id="padding">
        <div class="hmargin"></div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="groupname" name="groupname" placeholder="Enter Group Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">Join Group</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}