{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Form to log in -->
    <form action="/login" method="post" id="padding">
        <div class="hmargin"></div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
